doctype html
html
	head
		title|SGIna
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		base(href='/')
		each j in components.js
			script(src=j)
		each c in components.css
			link(rel='stylesheet' href=c)
		link(rel='stylesheet' href='/res/css/index.css')
		script(src='/res/js/SGIna.js')
		script(src='/sgina/getModels.js')
		each c in controllers
			script(src=c)
		script(src='/res/js/loading.js')
	body(ng-app="app")
	div(id="page_loader")
		img(src="/res/svg/loading.svg" width="70px")
		| Cargando ...
	div(id="nav")
		nav.navbar.navbar-expand-lg.navbar-dark
			a.navbar-brand(href='/') SGIna
			button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href='/')
							| Inicio 
							span.sr-only (current)
				.mr-auto
					div(ng-controller='navBarController')
						div(ng-if="navBarUrl" ng-include='navBarUrl')
				.dropdown
					button#dropdownMenuButton.btn.btn-sm.btn-light.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
						i.icon-user
						| {{ (username) ? username : 'Ingresar' }}
					.dropdown-menu(aria-labelledby='dropdownMenuButton')
						a.dropdown-item(href='/usuario/ingresar' ng-if="!username") Ingresar
						a.dropdown-item(href='#' ng-if="username") Mis datos
						a.dropdown-item(href='/salir' ng-if="username" ng-click="desconectarUsuario()") Salir
	div(id="ctnSGIna")
		div.ng-cloak(ng-view)