<div class="container-fluid" ng-controller="ProductoDetalleController" style="max-width: 700px;">
	<div class="row tituloModulo">
		<div class="col-sm">
			<h2>{{ (producto._id) ? 'Detalle' : 'Nuevo' }} producto</h2>
		</div>
		<div class="col-sm">
			<button class="btn btn-primary btn-sm float-right" style="margin-top: 7px;" ng-click="guardar()"><i
					class="icon-ok"></i> Guardar</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md">
			<div class="card">
				<div class="card-body">

					<div class="row">
						<div class="col-sm">
							<label>Nombre</label>
							<input type="text" class="form-control" ng-model="producto.nombre">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							<label>Precio</label>
							<input type="text" class="form-control" ng-model="producto.precio">
						</div>
						<div class="col-sm-3">
							<label>Precio contado</label>
							<input type="text" class="form-control" ng-model="producto.precioContado">
						</div>
					</div>

					<div class="row">
						<div class="col-sm">
							<label>Descripcion</label>
							<textarea class="form-control" rows="7" ng-model="producto.descripcion"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>