<div class="container-fluid" ng-controller="ProductoController">
  <div class="row tituloModulo">
    <div class="col-sm">
      <h2>Productos</h2>
    </div>
    <div class="col-sm">
      <a href="/productos/nuevo" class="btn btn-light float-right"><i class="icon-plus"></i> Nuevo</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th width="10%">Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="p in productos | orderBy: 'nombre'" ng-click="abrirProducto(p._id)" style="cursor: pointer;">
            <td>{{ p.nombre }}</td>
            <td>{{ (p.precio) ? "$" + p.precio : "Sin precio" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>