<div class="container-fluid" ng-controller="VentasDetalleController">
    <div class="row tituloModulo">
        <div class="col-sm-8">
            <h2>{{ (venta._id) ? 'Detalle' : 'Nueva' }} venta</h2>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-primary btn-sm float-right" style="margin-top: 7px;" ng-click="guardar()"><i class="icon-ok"></i> Guardar</button>
            <button class="btn btn-ligth btn-sm float-right" style="margin-top: 7px; margin-right: 7px;" data-toggle="modal" data-target="#modalNotas"><i class="icon-sticky-note"></i> Administrar notas <span ng-if="venta.notas.length" class="badge badge-warning">{{ venta.notas.length }}</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <!-- <div class="card-title">
                        <h4>{{ (venta._id) ? 'Detalle de' : 'Nueva' }} venta</h4>
                        </div> -->
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Fecha</label>
                            <input type="text" class="form-control" ng-model="venta.fecha" disabled>
                        </div>
                        <div class="col-sm-6">
                            <label>Producto</label>
                            <select class="form-control" ng-model="venta.productoId" ng-change="aplicarPrecioProducto()">
                                <option value="">Seleccione un producto</option>
                                <option ng-repeat="p in productos" value="{{ p._id }}">{{ p.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <label>Contacto</label>
                            <select class="form-control" ng-model="venta.contactoId">
                                <option value="">Seleccione un contacto</option>
                                <option ng-repeat="c in contactos | orderBy: 'apellidos'" value="{{ c._id }}">{{ c.apellidos }}, {{ c.nombre }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <label>Descripcion</label>
                            <textarea class="form-control" cols="30" rows="6" ng-model="venta.descripcion"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <label>Precio</label>
                            <input type="text" class="form-control" ng-model="venta.precio" placeholder="$">
                            <small ng-if="producto.precioContado">Precio de contado: {{ producto.precioContado }}</small>
                        </div>
                        <div class="col-sm-2">
                            <label>Pagado</label>
                            <input type="text" class="form-control" ng-model="venta.pagado" placeholder="$" ng-change="calcularDeuda()">
                        </div>
                        <div class="col-sm-2">
                            <label>Deuda</label>
                            <input type="text" class="form-control" ng-model="venta.deuda" placeholder="$" disabled>
                        </div>
                        <div class="col-sm-2" ng-if="venta.deuda > 0">
                            <label>Agregar cuotas</label>
                            <button class="btn btn-ligth" data-toggle="modal" data-target="#modalCuotas"><i class="icon-plus"></i> Administrar cuotas <span ng-if="venta.cuotas.length" class="badge badge-warning">{{ venta.cuotas.length }}</span></button>
                        </div>
                    </div>
                    <!-- <br>
                    <div class="row">
                        <div class="col-sm">
                            <pre>{{ venta | json }}</pre>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Cuotas -->
    <div class="modal fade" id="modalCuotas" tabindex="-1">
        <!-- fade can be removed for instant modals. -->
        <div class="modal-dialog modal-lg">
            <!-- Could add modal-lg or modal-sm. .modal-dialog-centered is optional. -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cuotas</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Cantidad de cuotas</label>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" ng-model="cuotas" ng-change="armarCuotas()">
                        </div>
                        <div class="col-sm-5">
                            <button class="btn btn-block" ng-class="(venta.cuotasAlDolar) ? 'btn-success' : 'btn-ligth'" ng-click="venta.cuotasAlDolar = !venta.cuotasAlDolar">Cuota al dolar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Valor adeudado</label>
                        </div>
                        <div class="col-sm-3">
                            ${{ venta.deuda }}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm">
                            <table class="table table-bordered">
                                <tr ng-repeat="c in venta.cuotas">
                                    <td width="10%">#{{ $index + 1 }}</td>
                                    <td width="30%"><input type="text" class="form-control" ng-model="c.fecha"></td>
                                    <td width="30%"><input type="text" class="form-control" ng-model="c.valor"></td>
                                    <td width="30%">
                                        <div class="btn-group dropdown navbar" style="padding: 0 0;">
                                            <button type="button" class="btn btn-sm dropdown-toggle w-100" data-toggle="dropdown" ng-class="(c.estado == 'PAGADO') ? 'btn-success' : (c.estado == 'PENDIENTE') ? 'btn-ligth' : 'btn-danger'">{{ (c.estado == 'PAGADO') ? 'PAGADO' : (c.estado == 'PENDIENTE') ? 'PENDIENTE' : 'ATRASADO' }}</button>
                                            <div class="dropdown-menu w-100">
                                                <a class="dropdown-item" href="#" ng-click="c.estado = 'PAGADO'">PAGADO</a>
                                                <a class="dropdown-item" href="#" ng-click="c.estado = 'PENDIENTE'">PENDIENTE</a>
                                                <a class="dropdown-item" href="#" ng-click="c.estado = 'ATRASADO'">ATRASADO</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal Notas -->
    <div class="modal fade" id="modalNotas" tabindex="-1">
        <!-- fade can be removed for instant modals. -->
        <div class="modal-dialog">
            <!-- Could add modal-lg or modal-sm. .modal-dialog-centered is optional. -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Notas</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm">
                            <label>Agregar nota</label>
                            <textarea class="form-control" rows="4" ng-model="nota"></textarea>
                            <button class="btn btn-block btn-ligth" style="margin-top: 5px;" ng-click="agregarNota()"><i class="icon-plus"></i> Agregar nota</button>
                        </div>
                    </div>
                    <div class="row" ng-if="venta.notas.length" style="margin-top: 10px;">
                        <div class="col-sm">
                            <label>Lista de notas</label>
                        </div>
                    </div>
                    <div class="row" ng-if="venta.notas.length">
                        <div class="col-sm">
                            <ul class="list-unstyled">
                                <li ng-repeat="n in venta.notas">
                                    <div style="border-bottom: solid 1px rgb(228, 227, 227);border-top: solid 1px rgb(228, 227, 227); padding: 5px 0px; margin-bottom: 5px;">
                                        {{ n.nota }}
                                        <br><br>
                                        {{ n.fecha }} <button class="btn btn-link" ng-click="eliminarNota($index)"><i class="icon-trash"></i></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button> 
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>