<div class="container-fluid" ng-controller="VentasController">
  <div class="row tituloModulo">
    <div class="col-sm">
      <h2>Ventas</h2>
    </div>
    <div class="col-sm">
      <a href="/ventas/nuevo" class="btn btn-light float-right"><i class="icon-plus"></i> Nuevo</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th width="20%">Fecha</th>
            <th width="50%">Producto</th>
            <th width="10%">Deuda</th>
            <th width="20%">Contacto</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in ventas | orderBy: ['-fecha', '-fechaAlta']" ng-click="abrirVenta(v._id)" style="cursor: pointer;">
            <td>{{ v.fecha }}</td>
            <td>{{ productoPorId(v.productoId).nombre }}</td>
            <td ng-style="(v.deuda > 0) && {color: 'red'}">${{ v.deuda }}</td>
            <td>{{ contactoPorId(v.contactoId).apellidos + ', ' + contactoPorId(v.contactoId).nombre }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>