<style>
	.btnModulo {
		width: 50%;
		display: inline-block;
	}

	.btnModulo a {
		margin: 3px;
		display: block;
	}
</style>
<br>
<div ng-controller="MainController">
	<div class="card" style="width: 700px; margin: auto;">
		<div class="card-body">
			<div class="card-title">
				<h4>{{ (username) ? 'Aplicaciones' : 'Ingresar' }}</h4>
			</div>
			<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
			<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
			<a href="/usuario/ingresar" class="btn btn-light btn-block" ng-if="!username"><i class="icon-login"></i>
				Ingresar</a>
			<ul class="list-unstyled" style="margin: 0;" ng-if="username">
				<li ng-repeat="m in modulos" class="btnModulo" ng-show="hasPermission(m.permissionAccess)"><a
						href="{{ m.route }}" class="btn btn-lg btn-light"><i ng-if="m.icon" class="{{ m.icon }}"></i>
						{{ m.name }}</a></li>
			</ul>
		</div>
		<div class="card-footer text-muted">
			Tu ultima conexion fue el 24 de Febrero del 2020
		</div>
	</div>
</div>