<div class="container-fluid" ng-controller="CajaController">
    <div class="row tituloModulo">
      <div class="col-sm">
        <h2>Caja: ${{ total }}</h2>
      </div>
      <div class="col-sm">
        <a href="/caja/nuevo" class="btn btn-light float-right"><i class="icon-plus"></i> Nuevo</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th width="20%">Fecha</th>
              <th width="70%">Descripcion</th>
              <th width="10%">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="m in movimientos | orderBy: ['-fecha', '-fechaAlta']" ng-click="abrirDetalle(m._id)" style="cursor: pointer;">
              <td>{{ m.fecha }}</td>
              <td>{{ m.descripcion }}</td>
              <td ng-class="(m.tipo == 1) ? 'text-success' : 'text-danger'">{{ (m.tipo == 1) ? '+' : '-' }}{{ m.monto }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>