<ul class="navbar-nav">
	<li class="nav-item"><a class="nav-link" href="/administracion">Administracion</a></li>
	<li class="nav-item" ng-if="hasPermission('admin.crearUsuario')"><a class="nav-link" href="/administracion/usuarios">Usuarios</a></li>
	<li class="nav-item" ng-if="hasPermission('admin.permisos')"><a class="nav-link" href="/administracion/permisos">Permisos</a></li>
	<li>
		<input type="text" class="form-control" style="display: inline-block; width: 45%;" placeholder="Dolar" ng-model="dolar">
		<button class="btn btn-ligth" style="display: inline-block;" ng-click="cambiarDolar(dolar)">
			OK
		</button>
	</li>
	<!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a>
			<div class="dropdown-divider"></div><a class="dropdown-item" href="#">Something else here</a></div>
	</li> -->
</ul>