<div class="container-fluid" ng-controller="AdminPermisosController">	
	<!--<h1 ng-show="hasPermission('admin.acceso')">Permiso!!</h1>-->
	<div class="row tituloModulo">
		<div class="col-sm">
			<h2>Permisos</h2>
		</div>
		<div class="offset-sm-3 col-sm">
			<label class="float-right">Usuario</label>
		</div>
		<div class="col-sm">
			<input type="text" class="form-control" placeholder="Nombre de usuario" ng-model="filtro.username">
		</div>
	</div>
	<div class="row" ng-repeat="u in usuarios | filter:filtro">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title" style="padding-bottom: 10px; cursor: pointer;" data-toggle="collapse" href="#collapsePermissions_{{ u.username }}" role="button" ><i class="icon-user"></i> {{ u.username }}</h5>					
					<div class="row collapse" id="collapsePermissions_{{ u.username }}">
						<div class="col-md-3" ng-repeat="(key, value) in permisos" style="margin-bottom: 15px;"
							ng-show="key != 'main'">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title" style="padding-bottom: 10px;">{{ key }}</h5>
									<button class="btn btn-block" ng-repeat="p in value"
										ng-click="aplicarPermiso(u.username, p.permission)"
										ng-class="obtenerClasebtn(u.username, p.permission)"> {{ p.name }}</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>