<script>
$(function() {
    $('.select2').select2({
        theme: 'bootstrap4',
    });
});
</script>
<div class="container-fluid" ng-controller="AdminUsuarioController">



    <div class="card card-modulo">
        <div class="card-body">

            <div class="row">
                <div class="col-sm">
                  <h2 class="card-title">Usuarios</h2>
                </div>
                <div class="col-sm">
                  <button type="button" data-toggle="modal" data-target="#modalUsuario" class="btn btn-light float-right" ng-click="abrirModal()"><i class="icon-plus"></i> Nuevo</button>
                </div>
              </div>

        <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>Usuario</th>
            <th>Contacto vinculado</th>
            <th>Fecha de alta</th>
        </tr>
        <tr ng-repeat="u in usuarios" ng-click="abrirModal(u)">
            <td>{{ u.username }}</td>
            <td>{{ contactoPorId(u.contactoId) }}</td>
            <td>{{ u.fechaAlta|date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
    </table>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{(usuario._id) ? 'Editar': 'Nuevo'}} usuario</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-md-6">
                      <label>Nombre de usuario</label>
                      <input type="text" class="form-control" ng-model="usuario.username">
                  </div>
                  <div class="col-md-6">
                      <label>Contacto</label>
                      <select class="form-control select2" ng-model="usuario.contactoId" data-placeholder="Seleccione un contacto">
                          <option></option>
                          <option ng-repeat="c in contactos" value="{{ c._id }}">{{ c.apellidos }}, {{ c.nombre }}</option>
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                      <label>Contraseña</label>
                    <input type="text" class="form-control" ng-model="usuario.password">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" ng-click="cerrarModal()">Cerrar</button>
              <button type="button" class="btn btn-primary"   ng-click="guardarContacto()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
</div>