<div class="container-fluid" ng-controller="UsuarioController" style="width: 700px; margin: auto;">
    <div class="row tituloModulo">
        <div class="col-sm-8">
            <h2>Ingresar</h2>
        </div>
    </div>
    
    <div class="card">
        <div class="card-body">
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="row">
                <div class="col-sm">
                    <label>Nombre de usuario</label>
                    <input type="text" class="form-control" placeholder="Nombre de usuario" ng-model="usuario.usuario">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label>Clave</label>
                    <input type="password" class="form-control" placeholder="Clave" ng-model="usuario.clave">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary float-right" ng-click="ingresar()"><i class="icon-login"></i> Ingresar</button>
                </div>
            </div>
        </div>
        <!-- <div class="card-footer text-muted">
            <a href="#" class="card-link"><i class="icon-key"></i> Recuperar clave</a>
        </div> -->
    </div>
</div>